/* ================================ ROOT ================================ */
:root {
    font-family: 'Roboto', sans-serif;
}
:root a {
    text-decoration: none;
}

body {
    margin: 0;
}


/* ================================ NAVIGATION ================================ */
.navBar {
    height: 50px;
    background-color: #1F2937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.maxWidth {
    display: flex;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.navContainer {
    margin-left: auto;
    width: fit-content;
    display: flex;
    text-align: right;
    margin-right: 4vw;
}
.navBtn {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 1rem 0 1rem;
}
.navBtn:hover {
    color: #3882F6;
}
.activeNav {
    font-weight: 700;
    color: #3882F6;
}

.dropBtn {
    display: none;
}
.dropdown {
    display: none;
}

.placeholder {
    width: 100%;
    height: 100vh;
}