:root {
/* ================================ COLORS ================================ */

  --dark-background-color: #1F2937;
  
  --hero-main-text-color: #F9FAF8; /* EXTRA BOLD*/
  --hero-secondary-text-color: #E5E7EB;
  
  --header-logo-text-color: #F9FAF8;
  
  --button-color: #3882F6;
  
  --information-header-text-color: #1F2937; /* EXTRA BOLD */
  
  --quote-section-background-color: #E5E7EB;
  --quote-text-color: #1F2937; /* LIGHT ITALIC */

/* ================================ SIZES ================================ */

  --hero-main-text-size: 48px;
  --hero-secondary-text-size: 18px;
  
  --header-logo-text-size: 24px;
  
  --information-header-text-size: 36px;
  
  --quote-text-size: 36px;
}
