@import url("../../variables.css");

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
  }

  .project-info {
    padding: 20px;
    text-align: center;
  }

  .project-info h3 {
    font-size: 20px;
  }

  .project-info p {
    font-size: 16px;
  }

  .project-image {
    max-width: 100%;
  }
}

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .carousel img {
    max-width: 80px;
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
}

/* ================================ ROOT ================================ */
:root {
  font-family: "Roboto", sans-serif;
}
:root a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

/* ================================ ROOT ================================ */
:root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
:root a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

/* ================================ NAVIGATION ================================ */
.navBar {
  height: 50px;
  background-color: #1F2937;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.maxWidth {
  display: flex;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}
.navContainer {
  margin-left: auto;
  width: fit-content;
  display: flex;
  text-align: right;
  margin-right: 6vw;
}
.navContainer a {
  margin-top: auto;
  margin-bottom: auto;
}
.navBtn {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 1rem 0 1rem;
}
.navBtn:hover {
  color: #3882F6;
}
.activeNav {
  font-weight: 700;
  color: #3882F6;
}

.dropBtn {
  display: none;
}
.dropdown {
  display: none;
}

.logo {
  width: fit-content;
  margin: auto 0;
  padding-left: 6vw;
}


/* ================================ YOUR CODE GOES BELOW HERE ================================ */

#section1 {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

#section1 h1 {
  font-size: 48px;
  color: #1e1e1e;
  margin-bottom: 30px;
}

#section2 {
  background-color: #1f2937;
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  max-height: 500px;
}

.carousel a {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.carousel img {
  max-width: 300px;
  height: auto;
  cursor: pointer;
  margin: 0 10px;
}

.carousel a:hover {
  transform: scale(1.1);
}

.carousel-arrow {
  cursor: pointer;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  padding: 12px 12px;
  border-radius: 50%;
}

#left-arrow {
  left: 10px;
  background-image: url("images/left-arrow.png");
}

#right-arrow {
  right: 10px;
  background-image: url("images/arrow-point-to-right.png");
}

/* Add styles for section3 */
#section3 {
  background-color: #f7f7f7;
  padding: 40px;
  text-align: center;
}

#section3 h2 {
  font-size: 24px;
  color: #1e1e1e;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 80px auto;
  background-color: white;
  border-radius: 3vw;
  box-shadow: 0.15vw 0.2vw 1.5vw rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.project:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0.15vw 0.2vw 2.5vw rgba(56, 130, 246, 0.35);
}

.project-info {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-info a {
  display: inline-block;
  background-color: #3882f6;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.project-info a:hover {
  background-color: var(--hero-main-text-color);
  color: var(--button-color);
  transition: 0.3s ease-in-out;
}

.project-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  height: auto;
}

#section4 {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f2937;
  font-size: 36px;
  text-decoration: underline;
}

.back-to-top img {
  width: 30px;
  height: 30px;
  margin: 0 50px;
}

footer {
  background-color: #1f2937;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: #e5e7eb;
  font-size: 20px;
  text-align: center;
}

.footer-content span {
  margin-right: 5px;
}

/* Back Top Section */
.backTopSection {
  padding: 10vh 0 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 0.3s;
  cursor: pointer;
}
.backTopSection h2 {
  color: var(--dark-background-color);
  padding: 0 50px 0 20px;
}
.backTopSection:hover svg path {
  fill: #3882F6;
}
.backTopSection:hover h2 {
  color: #3882F6;
}