.grid-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  background-color: lightblue;
  text-align: center;
  font-size: 2em;
  height: 50px;
}

.x2 {
  grid-column: span 2;
}

@media (min-width: 0px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 12 * 1fr;
  }

  .x2 {
    grid-column: span 1;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6 * 1fr;
  }
  .x2 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .x2 {
    grid-column: span 2;
  }
  
}