/* YOU NEED THIS */
@import url('../../variables.css');

/* ================================ ROOT ================================ */
:root {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

/* ================================ NAVIGATION ================================ */
.navBar {
    height: 50px;
    background-color: #1F2937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.maxWidth {
    display: flex;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.navContainer {
    margin-left: auto;
    width: fit-content;
    display: flex;
    text-align: right;
    margin-right: 6vw;
}
.navContainer a {
    margin-top: auto;
    margin-bottom: auto;
}
.navBtn {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 1rem 0 1rem;
}
.navBtn:hover {
    color: #3882F6;
}
.activeNav {
    font-weight: 700;
    color: #3882F6;
}
.navContainer input {
    display: none
}
.burgerIcon {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.logo {
    position: relative;
    width: fit-content;
    margin: auto 0;
    padding-left: 6vw;
    z-index: 10;
}

.menuToggle {
    display: none;
}
.dropdown {
    display: block;
    position: absolute;
    top: -600px;
    left: 0;
    width: 100%;
    background-color: #1F2937;
    border-bottom: 3px solid var(--button-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transition: transform 0.3s ease;
    z-index: 5;
}
.menuToggle:checked + .burgerIcon ~ .dropdown {
    transform: translateY(600px);
}

.dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.dropdown .dropdownContent a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 15px 0 15px 0;
}
.dropdown .dropdownContent .activeNav {
    font-weight: 700;
    color: #3882F6;
}
.dropdown .dropdownContent a:hover {
    color: #3882F6;
}

@media (max-width: 768px) {
    .navContainer {
        display: none;
    }
    .burgerIcon {
        display: block;
    }
    .menuToggle {
        display: none;
    }
    .burgerIcon {
        padding: 0 6vw 0 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burgerIcon > svg {
        fill: white;
    }  
    .burgerIcon > svg:hover {
        fill: #3882F6;
    }  
    .burgerIcon > svg rect {
        transition: transform 0.3s ease;
    }  
    .menuToggle:checked + .burgerIcon > svg rect:nth-child(1) {
        transform: rotate(-45deg) translate(-15px, 22px);
    }
    
    .menuToggle:checked + .burgerIcon > svg rect:nth-child(2) {
        opacity: 0;
    }
    
    .menuToggle:checked + .burgerIcon > svg rect:nth-child(3) {
        transform: rotate(45deg) translate(9px, -22px);
    }
}

/* ================================ ABOUT PAGE ================================ */
.about-us-heading {
    text-align: center; 
    background-color: #E5E7EB; 
    color:#000000; /* Text color (white) */
    padding: 60px 10px 10px 10px; /* Padding around the heading */
    font-size: 36px; /* Font size for the heading */
    font-weight: bold; /* Bold font weight */
    transition: background-color 0.3s; /* Smooth background color transition */
    animation: slideFromTop 1s ease-in-out; /* Animation for sliding from top */
}

/* Hover effect */
.about-us-heading:hover {
    background-color:#1f2937; /* Darker background color on hover */
}


/* Keyframes animation for sliding from top */
@keyframes slideFromTop {
    from {
        transform: translateY(-50px); /* Start off the screen (above) */
        opacity: 0; /* Start with zero opacity */
    }
    to {
        transform: translateY(0); /* Move to the center */
        opacity: 1; /* Fade in */
    }
}

/* Apply these styles to the hero section */
.hero {
background-color: #1f2937; /* Dark blue background color */
color: #fff; /* White text color */
text-align: center;
padding: 100px 0; 
margin-bottom: 20px;/* Adjust the padding as needed for spacing */
}

/* Style the heading and paragraph */
.hero h1 {
font-size: 36px; /* Adjust the font size as needed */
transition: transform 0.2s ease; /* Add a transform transition */
}

.hero p {
font-size: 18px; /* Adjust the font size as needed */
transition: transform 0.2s ease;
/* Add a transform transition */
}

/* Add hover effect */
.hero h1:hover,
.hero p:hover {
transform: scale(1.1); /* Increase the size on hover */
}
/* Reset some default styles */
body, h1, p {
margin: 0;
padding: 0;
}
Style the quote section 
.quote-section {
background-color: #E5E7EB;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
text-align: center;
}


/* Style the individual quotes */
.quote {
margin: 30px;
padding: 30px;
border: 10px solid #1f2937;
border-radius: 10px;
background-color:#E5E7EB;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
font-size: 36px;
font-style: italic;
color: #1f2937;
transition: transform 0.3s ease-in-out;

}

/* Add animation on hover */
.quote:hover {
transform: scale(1.05);
}

/* Style the quote author */
cite {
font-weight: bold;
font-size: 18px;
color: #1f2937;
}

.align
{
background:#fff; 
position:relative;
height:100%;
width:100%;
/* max-width:600px;*/
overflow:auto;
 margin:0 auto;}
h1
{
text-align:center;
font-size:2em;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
img{
width:100%;
 height:100%; 
 margin-top:10px;
  border-radius:.12em; 
  box-shadow:0 0 0 2px #fcf6f6;
}
.align{
padding-top:20px;
width:100%;
height:580px;
display:flex;
flex-flow:row wrap;
justify-content:space-around;
align-items:space-around;
}
.card-container{
-webkit-perspective:1200;
-moz-perspective:1200;
perspective:1200;
}
.card-vertical, .card-horizontal{
height:350px;
width:350px;
-moz-transform-style:preserve-3d;
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d;

transition:all .4s ease;

}
.card-front, .card-back{
color:#F9FAF8;
height:100%;
width:100%;
position:absolute;
background:#1f2937 ;
-moz-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform-style:preserve-3d;
-moz-transform-style:preserve-3d;
transform-style:preserve-3d;
}

.card-back{
-moz-transform:rotateY(179.9deg);
-webkit-transform:rotateY(179.9deg);
transform:rotateY(179.9deg);
background:gray ;
}
.card-front-content, .card-back-content{
padding:3em;
box-sizing:border-box;
text-align:center;
line-height:2.6em ;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.card-back-hr{
-webkit-transform:rotateX(179.9deg);
-moz-transform:rotateX(179.9deg);
transform:rotateX(179.9deg);
}
.card-vertical:hover{
-webkit-transform:rotateY(179.9deg);
-moz-transform:rotateY(179.9deg);
transform:rotateY(179.9deg);
}
.card-horizontal:hover{
-webkit-transform:rotateX(179.9deg);
-moz-transform:rotateX(179.9deg);
transform:rotateX(179.9deg);
}

/* Back Top Section */
.backTopSection {
    padding: 10vh 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 0.3s;
    cursor: pointer;
}
.backTopSection h2 {
    color: var(--dark-background-color);
    padding: 0 50px 0 20px;
}
.backTopSection:hover svg path {
    fill: #3882F6;
}
.backTopSection:hover h2 {
    color: #3882F6;
}

@media  (max-width: 768px) {
    .backTopSection {
      padding: 5vh 0 5vh 0;
    }
}

/* Footer Section */
.footContainer {
    width: calc(100% - 4em);
    background-color: var(--dark-background-color);
    padding: 2em;
    color: var(--hero-secondary-text-color);
    font-family: 'Roboto', sans-serif;
}
.footContainer .maxWidth {
    display: flex;
    flex-direction: row;
}
.footContainer p {
    padding: 10px 20px 10px 20px;
}
.footerLeft {
    display: flex;
    padding-left: 2em;
    width: 60%;
}
.footerRight {
    text-align: end;
    padding-right: 2em;
    width: 40%;
}
@media screen and (max-width: 780px) {
    .footerLeft {
        flex-direction: column;
    }
    .footContainer {
        padding-top: 2em;
    }
    .footContainer p {
        padding: 10px 20px 10px 20px;
    }
}
